<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center m-5">Bookersへようこそ！</h1>
      <p class="text-center">Bookersとありますが、写真を自由に投稿できるサイトです。</p>
      <p class="text-center">気軽に写真をアップしよう!</p>
    </div>
  </div>
</div>